@media (max-width: 575.98px)

    .btn
        font-size: 11px

    h4, .h4
        font-size: 14px

    .header
        .logo
            svg
                width: 65px
        .sign-btns
            gap: 0
            margin-left: 10px
            margin-right: 10px
            .btn
                font-size: 9px
                padding: 0 10px
                height: 30px
        .big-menu-box
            margin: 0 15px
            .ul-menu
                grid-template-columns: 1fr
                gap: 7px

    .container
        max-width: 380px !important
        padding-left: 20px
        padding-right: 20px

    .page-home .home-about .middle-box .img-mobi
        max-width: 100%

    .page-home .home-categories .my-little-grid
        margin-top: 0
    .page-home .home-categories .my-little-grid .element .h3
        padding: 15px 15px
    .page-home .home-categories .my-little-grid .el-left
        height: 220px
    .page-home .home-categories .my-little-grid .el-top img
        margin-bottom: -20px
    .page-home .home-categories .my-little-grid .el-top,
    .page-home .home-categories .my-little-grid .el-bottom
        height: 160px

    .page-home .home-categories .my-little-grid .el-bottom img
        max-width: 100px
        margin: -5px 0 0 40px

    .page-home .home-categories .my-little-grid .el-top
        border-radius: 70px 2px 2px 2px
    .page-home .home-categories .my-little-grid .el-bottom
        border-radius: 2px 2px 70px 2px
    .page-home .home-categories .my-little-grid .el-left
        border-radius: 2px 2px 70px 2px

    .page-home .home-categories
        .btn
            width: 100%

    .news-list .news-item .news-date,
    .news-list .news-item .news-title
        font-size: 12px

    .page-home .home-contact
        .order-form
            display: block
        .cont-item
            margin-bottom: 14px
            font-size: 16px

        .contact-right
            margin-top: 50px
            padding: 40px
            background: #FAF2FE
            .subtitle
                display: block
                font-size: 16px
            .f-big
                display: none
            .f-wrap input:not([type]), .f-wrap input[type=text], .f-wrap input[type=number], .f-wrap input[type=email], .f-wrap textarea, input[type=checkbox]
                background-color: #fff

    .page-home .home-cooperate .cooper-row
        display: grid
        gap: 20px
    .page-home .home-cooperate .cooper-left
        margin-right: 0
    .page-home .home-cooperate .left-text
        margin-bottom: 40px
    .page-home .home-cooperate .cooper-box
        height: 125px
        max-width: 470px
        width: 100%
        border-radius: 2px 25px 2px 2px
    .page-home .home-cooperate .cooper-box::before
        opacity: .3
    .page-home .home-cooperate .cooper-box .h3
        margin-top: auto
        padding: 0 50px
        font-size: 23px
    .page-home .home-cooperate .cooper-box img
        display: none

    .footer
        .container
            display: flex
            flex-direction: column-reverse
            align-items: center
            padding: 40px 0

        .f-column:not(.f-icons)
            display: none

        .f-icons
            display: flex
            justify-content: center
            width: 100%
            a
                margin: 6px
        .footer-bottom
            padding: 0
        .footer-content
            padding: 15px 0
        .footer-copy
            display: block


    .about-box .go-distrib .top-row
        display: block
        margin-bottom: 40px
        .h2
            margin: 0 0 40px

    .form-row
        grid-template-columns: 1fr

    .about-box .go-distrib
        margin-top: 70px

    .article-box .article-content video
        height: 66%

    .article-box .article-date
        margin-bottom: 40px
        font-size: 14px

    .article-box .gallery
        gap: 15px

    .distributors-box .form-box .right-form, .franchisee-box .form-box .right-form
        max-width: none

    .franchisee-box
        .fr-list
            padding-right: 20px

    .cart-box .cart-table .table-row
        grid-template-columns: 80px auto min-content
        .cart-price
            align-self: baseline
            text-align: right

    .cart-box
        .subtotal-line .back-to-shop
            display: flex
            align-items: center
            font-size: 10px
            svg
                top: 0
                margin-right: 7px
                flex-shrink: 0
            .btn
                height: 55px
        .promocode-line
            padding-top: 10px
            flex-direction: column
            align-items: stretch
            .text-promo-wrap
                order: -1
            .active-code
                margin: 20px 0 0
            .f-wrap
                margin: 30px 0 20px
                input
                    margin-right: 0

    .checkout-box .right-form .form-grid
        grid-template-columns: 1fr

    .checkout-box .right-form .form-grid .f-wrap .f-placeholder
        i, span
            display: none

    .checkout-box .right-form
        padding: 30px

    .contract-box .order-form
        padding: 30px 25px

    .contract-box .cities-wrap.active .cities-list
        grid-template-columns: repeat(2, 1fr)
