@media (max-width: 991.98px)

    h1, .h1
        font-size: 30px
    h2, .h2
        font-size: 25px
    h3, .h3
        font-size: 18px

    .f-wrap .f-placeholder
        left: 30px
    .f-wrap textarea
        padding-top: 22px
    .f-wrap textarea:placeholder-shown:not(:focus) ~ .f-placeholder, .f-wrap textarea ~ svg
        top: 31px

    .f-wrap > svg
        right: 20px

    .f-wrap:not(.f-wrap-nano) input:not([type]),
    .f-wrap:not(.f-wrap-nano) input[type=text],
    .f-wrap:not(.f-wrap-nano) input[type=number],
    .f-wrap:not(.f-wrap-nano) input[type=email],
    .btn:not(.btn-nano)
        height: 60px
    .f-wrap:not(.f-wrap-nano) input:not([type]),
    .f-wrap:not(.f-wrap-nano) input[type=text],
    .f-wrap:not(.f-wrap-nano) input[type=number],
    .f-wrap:not(.f-wrap-nano) input[type=email],
    .f-wrap:not(.f-wrap-nano) textarea
        padding-left: 30px
        padding-right: 38px
        border-radius: 30px 2px
        font-size: 14px

    .btn:not(.btn-nano)
        padding: 0 20px
    .btn-mini:not(.btn-nano)
        height: 50px
        border-radius: 25px 2px
        font-size: 11px

    .space
        +square(20px)

    .header
        padding-bottom: 70px
        .hamburger
            display: flex
        .logo
            margin-right: auto
        .person
            margin-right: 20px
        .top-row
            .head_search,
            .cont-col
                display: none
        .bottom-row
            display: none




    .page-home .home-screen .screen
        height: 430px
    .page-home .home-screen .left-wrap
        max-width: 450px
        padding-right: 30px

    .page-home .home-screen .screen-3 .right-wrap
        margin-left: -100px


    .page-home .home-about
        .container
            display: block
        .middle-box
            margin: 40px 0
            width: auto
            .img-1,
            .img-2
                display: none
            .img-mobi
                display: block
                border-radius: 2px 2px 130px 2px
                max-width: 370px
            .people-info
                display: none
        .left-text,
        .right-text
            max-width: 580px
        .right-text
            margin-top: 0
            p
                max-width: none

    .page-home .home-categories
        .left-text
            p
                display: none
        .my-little-grid
            margin-top: 70px
            .element .h3
                padding: 20px 25px
            .el-left
                height: 330px
                border-radius: 2px 2px 2px 100px
                .h3
                    padding: 25px 0 50px
                img
                    max-width: 85%
            .el-right
                width: 200px
                height: 190px
                .h3
                    padding: 10px
            .el-top
                border-radius: 100px 2px 2px 2px
                img
                    margin-bottom: -30px
            .el-bottom
                border-radius: 2px 2px 100px 2px
                img
                    margin-left: 60px
            .el-top,
            .el-bottom
                margin: 50px 0
                height: 180px

    .catalog-list .swiper-navigation
        display: block

    .page-home .home-distributor
        display: none
    .page-home .home-cooperate .cooper-left
        margin-right: 30px
    .page-home .home-cooperate .cooper-box img
        bottom: 10px

    .blog-subscribe .form-subscribe .f-wrap
        max-width: 270px
    .blog-subscribe .top-row
        align-items: center
        font-size: 14px
        .h2
            flex-shrink: 0
            margin-right: 30px

    .news-list
        gap: 30px
        grid-template-columns: repeat(3, 1fr)

    .page-home .home-news
        padding-top: 80px
    .page-home,
    .page-post
        .news-list .news-item:last-child
            display: none


    .page-home .home-contact .top-row
        font-size: 16px

    .page-home .home-contact .contact-right
        grid-template-columns: 1fr
        grid-template-rows: min-content
        .f-big
            grid-column: 1
            grid-row: 3
            textarea
                min-height: 100px

    .page-home .home-map
        padding: 80px 0 15px
        #map
            height: 380px

    .footer
        .f-col-form
            display: none

    .form-distributors,
    .distributors-box .form-distributors
        display: grid
        grid-gap: 20px
        grid-template-columns: repeat(2, 1fr)
        .space
            display: none

    .article-box .gallery
        grid-template-columns: repeat(4, 1fr)

    .news-box,
    .article-box,
    .page-post .blog-subscribe
        margin-bottom: 110px

    .franchising-box,
    .contract-box,
    .franchisee-box,
    .distributors-box
        margin-bottom: 110px
    .franchising-box .franchising-text ol
        margin-bottom: 60px

    .franchisee-box .fr-list
        max-height: 450px

    .distributors-box .form-box .right-form,
    .franchisee-box .form-box .right-form
        max-width: 260px
        flex-shrink: 0

    .distributors-grid .ds-avatar
        +square(80px)
        .ds-letter
            font-size: 30px

    .distributors-box .go-distrib .top-row
        display: block
        .h2-title
            margin: 0 0 20px


    .page-catalog .catalog-content
        gap: 20px 60px
        grid-template-columns: 180px auto

    .page-catalog .line-title
        padding: 0 0 17px

    .page-catalog .sidebar .sb-menu
        margin: 45px 0

    .page-catalog .catalog-content .catalog-list
        grid-template-columns: repeat(2, 1fr)


    .pagination
        li
            padding: 2px
            a
                padding: 0 7px
                min-width: 28px
                font-size: 10px
                height: 28px
                border-radius: 13px 2px
                span
                    display: none
                svg
                    margin: 0 !important
                    +square(13px)

        //     display: none
        //     &:first-child,
        //     &:nth-child( 2 ),
        //     &:nth-last-child( 2 ),
        //     &:last-child,
        //     &.active + li,
        //     &.active
        //         display: block

    .prouct-box .product-content
        gap: 40px
    .prouct-box .product-content .prod-gallery
        grid-column: 1/6
    .prouct-box .product-content .prod-right
        grid-column: 6/12

    .prouct-box .product-content .gallery-thumbs .swiper-container
        margin: 20px 15px

    .product-catalog
        margin: 100px 0

    .catalog-list:not(.swiper-catalog)
        grid-template-columns: repeat(3, 1fr)
        justify-items: center
        .product-item
            grid-auto-flow: column


    .cart-box
        margin-bottom: 110px
        .cart-table
            display: block
            .subtotal-int
                display: block
                margin: 15px 0 20px

                .si-line
                    display: flex
                    align-items: baseline
                    text-transform: uppercase
                    font-weight: 500
                    line-height: 1
                    & > span:first-child
                        margin-right: auto
                        font-size: 10px
                        color: #464646
                    & > span:last-child
                        color: $secondary
                        font-size: 16px
                .si-bonuses
                    margin-top: 14px
                    & > span:last-child
                        font-size: 10px
            .table-head
                display: none
            .table-row
                display: grid
                grid-template-areas: 'img name price' 'img count x'
                align-items: center
                gap: 10px 15px
                grid-template-columns: 80px auto max-content
                margin-bottom: 35px
                .tr-col
                    display: block
                    padding: 0
                & > .tr-col
                    min-width: auto
                .cart-img
                    grid-area: img
                    width: auto
                .cart-name
                    grid-area: name
                .cart-price
                    grid-area: price
                    font-size: 16px
                    text-align: left
                .cart-count
                    grid-area: count
                    display: flex
                    font-size: 16px
                .cart-remove
                    grid-area: x
                    text-align: right
                .cart-price-total
                    display: none

        .subtotal-line
            justify-content: space-between
            padding: 25px 0 40px
            .subtotal-int
                display: none
        .promocode-line
            padding: 0
            flex-wrap: wrap
            justify-content: flex-start
            .active-code
                width: 100%
                margin: 0 0 30px
            input
                height: 50px
                border-radius: 25px 2px


    .checkout-box
        margin-bottom: 110px
        .cb-container
            display: block
            .left-list
                width: 100%
                padding: 0
        .ct-wrap
            margin: 0
            padding: 0
            background: transparent
        .cart-table
            display: block
            margin: 30px 0 0
            padding: 0
            overflow: visible
            max-height: none
            .table-row
                display: grid
                grid-template-columns: 60px auto max-content
                gap: 10px 20px
                align-items: center
                margin-bottom: 15px
                padding-bottom: 15px
                border-bottom: 1px solid #eee
                &:last-child
                    border-bottom: none
            .tr-col
                display: block
                padding: 0
            .cart-img
                width: auto
            .cart-price
                grid-column: 2 / -1
                color: $body-color
                font-weight: 300
                p
                    margin: 1px 0

        .cart-info
            margin-top: 20px
            padding-top: 20px
            border-top: 1px solid #ACACAC
            .ci-col .ci-title
                font-size: 10px
                font-weight: 500
                color: $body-color2
            .ci-col .ci-value
                margin-top: 8px
                font-size: 14px
                span
                    display: inline-block
        .subtotal-line
            display: none

        .right-form
            margin-top: 80px
            padding: 45px
            background: #FAF2FE
            .h3
                margin: 0 0 40px
            .form-grid:not(:last-child)
                margin-bottom: 50px

            .f-wrap input:not([type]), .f-wrap input[type=text], .f-wrap input[type=number], .f-wrap input[type=email], .f-wrap textarea
                background: #fff

    .profile-box.profile-grid
        .container
            max-width: 530px
            grid-template-columns: 1fr


    .contract-box .contract-top-content
        grid-template-columns: 1fr
        .sidebar
            order: -1
    .contract-box .contract-top-content .c-photo,
    .contract-box .contract-top-content .line-title
        display: none

    .contract-box .contract-top-content .sidebar .btn
        display: inline-flex
        margin-bottom: 20px
    .contract-box .contract-top-content .sb-menu
        display: none
