
@media (max-width: 767.98px)
    :root
        --scrollbar-width: 0px

    .grid-12,
    .grid-6,
    .grid-4,
    .grid-3,
    .grid-2,
    .grid
        gap: 20px

    .h1
        font-size: 49px
    .h2
        font-size: 40px

    .handwritten
        font-size: 55px

    .header-box
        top: 17px
        .logo svg
            max-width: 132px

    .home-first-box
        padding: 250px 0 232px
        min-height: 100vh

    .home-novelties-box
        padding-top: 80px
        .n-title
            margin-bottom: 40px
        .container
            display: block
        .n-prod-name
            display: none
        .n-slider
            max-width: 214px
            padding-bottom: 64px
        .n-item
            color: $body-color
            &:hover
                color: $primary
            .btn
                display: none
            .n-info
                display: block

    .home-about-box
        .hab-wrap
            display: block
        .about-circle
            display: none
        .right-side
            .handwritten,
            .h2
                text-align: center
            .about-circle
                display: flex
                margin: 0 auto 51px
                width: 240px
                height: 240px

    .home-categories-box
        padding-top: 85px
        .hc-title
            margin-bottom: 39px
            text-align: left
        .cats-list
            grid-template-columns: repeat(2, 1fr)
        .cat-name
            margin-top: 13px
            font-size: 10px


    .footer-box
        padding: 50px 0
        .top-row
            grid-template-columns: repeat(6, 1fr)
            row-gap: 49px
        .top-col:nth-child(1)
            order: 1
        .top-col:nth-child(2)
            order: 3
        .top-col:nth-child(3)
            order: 2
        .top-col:nth-child(4)
            order: 4
        .top-col
            .f-title
                margin-bottom: 35px

        .bottom-row
            display: flex
            flex-direction: column
            align-items: center
            margin-top: 56px
            font-size: 12px
            .insta-col
                order: -1
                font-size: 14px
            .politic-col
                margin: 33px 0 8px

    .catalog-box
        .sidebar
            margin: 0 -900px -100px
            padding: 31px 900px 100px
            background: #fff
            display: none
            .sb-sort
                display: none
            .sb-title
                .icon
                    display: none
                .btn
                    display: flex
        .catalog-grid
            grid-template-columns: 1fr

        .catalog-mobile-sort
            display: flex
            &.active
                display: none
                & ~ .catalog-grid
                    .sidebar
                        display: block
                    .catalog-list
                        display: none

    .catalog-box .sidebar .sb-list .sb-sub-list
        gap: 10px
    .catalog-box .sidebar .sb-list
        margin-top: 5px
    .noUi-target .noUi-handle .noUi-tooltip
        background: #fff
        box-shadow: 0 0 5px 5px #fff
    .catalog-box .sidebar .btns-row
        display: grid
        grid-template-columns: repeat(2, 1fr)
        gap: 20px
        max-width: 100%
        .btn
            padding: 0
            display: flex


    .breadcrumbs
        margin-bottom: 11px
        font-size: 10px

    .product-box
        padding-top: 0
    .product-box .prod-grid
        grid-template-columns: 1fr
        row-gap: 0
    .product-box .prod-main-col-mini
        display: block
        order: -2
        text-align: center
    .product-box .prod-main-col .pmc-top
        display: none
    .product-box .gallery-col
        order: -1
        margin-bottom: 40px
    .product-box .prod-main-col .prod-title
        font-size: 25px
        padding-bottom: 46px

    .product-box .prod-main-col
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
    .product-box .prod-main-col .pm-title
        margin-bottom: 20px
    .product-box .prod-main-col .pm-list .form-radio
        margin: 0 7.5px
    .product-box .prod-main-col .prod-price
        margin: 23px 0 55px
    .product-box .prod-main-col .btn
        margin-bottom: 68px
    .product-box .bottom-info-col .bi-item
        margin-bottom: 38px

    .product-catalog-box
        padding-top: 74px
        text-align: center
    .product-catalog-box .h2
        margin-left: auto
        margin-right: auto

    .cart-box .h2
        margin-bottom: 42px
    .cart-box .cart-item
        grid-template-columns: 120px auto 1fr
        align-items: stretch
        gap: 10px
        padding-bottom: 20px
        margin-bottom: 20px
    .cart-box .cart-item .cart-image-col,
    .cart-box .cart-item .c-text-col
        grid-column: auto
        padding: 0
    .cart-box .cart-item .cart-image-col
        grid-row: 1 / 3
        margin-right: 20px
    .cart-box .cart-item .cart-name-col
        align-self: start
        grid-column: 2 / -1
        .cart-name
            font-size: 15px
        .cart-attr
            margin-top: 8px
            font-size: 12px
    .cart-box .cart-item .cart-count-col
        align-self: end
    .cart-box .cart-item .cart-count-col .c-ints-row
        padding: 0
    .cart-box .cart-item .cart-price-col
        display: flex
        flex-direction: row
        align-items: flex-end
        max-width: 110px
        .cart-price
            font-size: 15px
            margin: 0 auto
        .cart-remove
            margin-left: 6px
            margin-bottom: 4px
            span
                display: none
            .icon
                display: block
    .cart-box .cart-subtotal-row
        flex-direction: column
        padding-top: 33px
    .cart-box .cart-subtotal-row .cart-sb-name
        font-size: 20px
    .cart-box .cart-subtotal-row .cart-price
        margin: 12px 0 25px



    .checkout-box .checkout-middle
        grid-template-columns: 1fr
    .checkout-box .checkout-list-col
        grid-row: auto
    .checkout-box .checkout-form-col
        order: -1

    .checkout-box .h2
        margin-bottom: 16px
    .checkout-box .checkout-form-element .just-title
        margin-bottom: 25px
    .checkout-box .checkout-form-element .checkout-inputs
        row-gap: 32px

    .checkout-box .checkout-list-white
        margin: 23px -900px
        padding: 40px 900px
    .checkout-box .checkout-list-white .o-mini
        font-size: 10px

    .checkout-box .checkout-botom-row
        display: none
    .col-bottom
        padding-top: 30px
        .ofe-bottom
            display: flex
            flex-direction: column
            gap: 0
            align-items: center
        .pm-item
            margin-top: 35px
            max-width: 255px

    .faq-box .faq-list
        gap: 20px
    .faq-box .faq-item .faq-title,
    .faq-box .faq-item .faq-value
        padding: 12px 24px
    .faq-box .faq-item .faq-title
        font-size: 15px
    .faq-box .faq-item .faq-title .icon
        width: 15px
        height: 15px
        margin-left: 20px
    .faq-box .faq-item .faq-value
        padding-top: 0
        font-size: 12px

    .page-white
        background: #fff
    .white-box .white-item
        margin: 0
        padding: 60px 0
        max-width: none
    .white-box .wh-subinfo
        margin: 15px auto 25px
        font-size: 12px
