
.contract-box
    margin-bottom: 150px

    .contract-text
        max-width: 720px
        ul
            font-weight: 500
            color: #9e9e9e


    .contract-top-content
        margin-top: 60px
        display: grid
        gap: 0 60px
        grid-template-columns: auto 280px
        .c-photo
            margin-bottom: 40px
            border-radius: 35px 2px
            overflow: hidden
            img
                display: block
        .line-title
            margin-bottom: 30px
            padding: 0 20px 17px
            font-size: 13px
            font-weight: 500
            color: #747474
            border-bottom: 1px solid #ACACAC
        .sidebar
            .btn
                display: none

        .sb-menu
            margin: 0 0 60px
            font-size: 14px
            font-weight: 500
            .sb-count
                opacity: .5
            li
                padding: 8px 0
            li.gray
                color: #c2c2c2
            li:not(.gray)
                a.active
                    color: $primary
            li:not(.depth) + li.depth
                margin-top: 2px
            li.depth
                padding-top: 3px
                padding-bottom: 3px
                margin-left: 10px
                color: #9c9c9c
                font-size: 12px
                line-height: 1.2
                & + li:not(.depth)
                    margin-top: 10px
                .sb-count
                    display: none


    .contract-svg
        display: flex
        align-items: center
        justify-content: space-between
        margin: 80px 0
        .c-item
            font-family: $font-family2, serif
            text-align: center
            svg
                +square(70px)
                fill: $primary
                margin-bottom: 18px

        .arrow
            +square(17px)
            margin: 15px
            opacity: .5

    .contract-gallery
        .h2
            text-align: center
            margin-left: auto
            margin-right: auto
    .gallery-thumbs, .video-slider
        margin-top: 40px
        margin-bottom: 40px
        display: flex
        align-items: center
        justify-content: space-between
        .swiper-button
            flex-shrink: 0
            +square(25px)
        .swiper-container
            margin: 0 22px
            width: 100%
            max-width: 960px
    .gallery-thumbs
        .swiper-slide
            position: relative
            @extend .flex-center
            height: auto
            &::after
                +pseudo
                +absfull
                background: url(../images/svg/search.svg) rgba($primary, .9) no-repeat 50%
                background-size: 30px
                transition: .15s
                opacity: 0
                pointer-events: none
            &:hover::after
                opacity: 1
            .img-wrap
                position: relative
                display: block
                padding-bottom: 160%
                width: 100%
                img
                    position: absolute
                    width: 100%
                    height: 100%
                    object-fit: cover
                    pointer-events: none

    .video-slider
        .video-slide
            position: relative
            height: auto
            video
                width: 100%

    .order-form
        display: flex
        align-items: center
        flex-direction: column
        background: #fcfcfc
        border-radius: 35px 2px
        padding: 50px 30px 60px
        margin: 0 0 50px

    .cities-wrap
        display: flex
        align-items: center
        flex-direction: column
        margin-top: 80px
        text-align: center
        &:not(.active)
            .city-item:nth-child(12) ~ .city-item
                display: none
            .btn
                span:first-child
                    display: block
                span:last-child
                    display: none
        .btn
            span:first-child
                display: none
            span:last-child
                display: block
    .cities-list
        display: grid
        grid-template-columns: repeat(4, auto)
        gap: 0 25px
        margin: 0 0 40px
        max-width: 800px
        width: 100%
        text-align: left
    .city-item
        margin-bottom: 7px
        font-weight: 400
