
.profile-box
    margin-bottom: 100px

    &:not(.profile-grid)
        .container
            max-width: 730px

    &.profile-grid
        .container
            display: grid
            align-items: start
            gap: 0 120px
            grid-template-columns: repeat(2, 1fr)
        .breadcrumb
            grid-column: 1 / -1

    .h2
        margin: 40px 0 40px

    .profile-wrap
        margin: 0 -40px 40px
        padding: 30px 40px
        background: #FAF2FE
    .top-row
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 30px
        .simple-font
            font-weight: 500
            opacity: .7
        .right-row
            display: grid
            gap: 5px
            text-align: center
        .btn
            margin-left: 10px

    .info-col
        p
            font-size: 16px
            margin-bottom: 0.2em
        .i-name
            margin-bottom: 0.5em

    .pw-bonuses
        .top-row
            margin: 0
            span
                color: $primary


    .form-grid
        display: grid
        gap: 30px
        .f-big
            grid-column: 1/3
            min-height: 123px
            .f-placeholder
                right: 50px

    .orders-list
        display: grid
        gap: 10px

        &.active
            .btn-nano .text-hide
                display: block
        &:not(.active)
            .order-row:nth-child(5) ~ .order-row
                display: none
            .btn-nano .text-show
                display: block

        .btn-wrap
            margin-top: 20px
            display: flex
            justify-content: flex-end
            .text-show,
            .text-hide
                display: none

        .order-row
            display: grid
            align-items: center
            grid-template-columns: 1fr auto
            gap: 10px
            padding: 10px 20px
            margin: 0 -20px
            background: #fff9
            transition: background .2s, color .2s
            &:hover
                background: #fff
                color: $secondary

        .order-name
            & > *
                display: inline-block
            b
                font-size: 16px
                font-weight: 500
                opacity: .8
            i
                font-size: 0.8em
                opacity: .5
        .order-date
            display: flex
            flex-direction: column
            align-items: flex-end
            font-size: 11px
            .status
                font-size: 10px
                margin-bottom: 5px
                text-align: center

    .bonus-list
        display: grid
        gap: 10px

        .bonus-row
            display: grid
            align-items: center
            grid-template-columns: 1fr auto
            gap: 10px
            padding: 10px 20px
            margin: 0 -20px
            background: #fff
            font-size: 14px
            &:not([href])
                cursor: default
                &:hover
                    color: inherit

        .bonus-name
            display: grid
            gap: 2px
            b
                font-weight: 500
                opacity: .7
            i
                font-style: normal
                font-size: 11px
            .bonus-date
                font-size: 11px
        .bonus-amount
            font-weight: 500
            opacity: .7


    .order-wrap
        .order-date
            margin-top: 5px
            width: 100%
            font-size: 12px

        .customer-info
            display: grid
            gap: 8px 5px
            grid-template-columns: max-content auto
            .ci-line
                grid-column: 1 / -1
                margin-bottom: 10px
                padding-bottom: 10px
                border-bottom: 1px solid #FFFFFF
            .ci-title
                display: flex
                align-items: baseline
                font-weight: 500
                opacity: .5
                &::after
                    content: ''
                    min-width: 25px
                    width: 100%
                    margin: 0 5px
                    border-bottom: 1px dotted #aaa
            .ci-discount
                opacity: .7
            .ci-total
                font-weight: 500
                opacity: .8

        .product-list
            display: grid
            gap: 5px
            margin-top: 20px
            font-size: 14px
        .product-item
            display: grid
            align-items: center
            grid-template-columns: 50px auto auto
            gap: 20px
            padding: 15px 30px
            margin: 0 -30px
            background: #fff
            img
                border: 2px solid #FAF2FE
            a
                display: inline-block
                margin-bottom: 5px
                color: $primary
                font-weight: 500
                &:hover
                    color: $secondary
            .old-price
                font-size: 10px
                text-decoration: line-through
                opacity: .5
            .buy-info
                text-align: right


    .information-row
        margin-bottom: 30px

    .edit-profile
        padding: 30px 0
        .h3
            margin-bottom: 10px
        input:disabled
            opacity: .5

    .status
        padding: 2px 5px
        font-size: 14px
        background: #84929F
        font-weight: 500
        color: #fff
        border-radius: 8px 1px
        &.pending
            background: #ffb700
        &.success
            background: #23b442
