
.contacts-box
	margin-bottom: 150px

	.contact-grid
		display: grid
		grid-template-columns: 340px auto
		gap: 60px

	.director-cart
		display: flex
		align-items: center
		.avatar
			+square(100px)
			margin-right: 30px
			border-radius: 35px 2px
			flex-shrink: 0
			overflow: hidden
			background: #eee
		.d-info
			margin: 5px 0 8px
			font-weight: 500
			font-size: 13px
			color: #b6b4b4
		.f-icons
			display: flex
			a
				margin-right: 8px
	.contact-el
		margin-top: 40px
		.h3
			line-height: 1.2
			margin-bottom: 30px
		.contact-mini
			display: grid
			grid-gap: 10px 25px
			grid-template-columns: 1fr
			font-size: 13px
			font-weight: 500
			color: #b6b4b4
		.contact-mini-first
			grid-template-columns: repeat(2, max-content)
		.contact-a
			display: flex
			svg
				fill: $primary
				+square(15px)
				margin: 1px 8px 0 0
				flex-shrink: 0
	.contact-map
		#map
			width: 100%
			height: 100%
			max-height: 800px
			min-height: 400px
			background: #eee

