@use "sass:math"

@import 'core/mixins'


$primary: #E8BAB4
$primary-alt: #DEA19A
$secondary: #CACC9C
$secondary-alt: #8D9041
$body-color:  #3F3F3F
$body-color-alt:  #858585

$red:  #C96F6F



@import 'core/lark'

@import 'core/fonts'
@import 'core/animations'

@import 'elements/_main'

@import 'elements/buttons'
@import 'elements/swiper'
@import 'elements/forms'
@import 'elements/range'

// @import 'elements/popups'


@import 'pages/0_layout'
@import 'pages/1_home'
@import 'pages/2_catalog'
@import 'pages/3_product'
@import 'pages/4_cart'
@import 'pages/5_order'
@import 'pages/6_page'
@import 'pages/7_success'
@import 'pages/8_faq'
@import 'pages/9_error'


// @import 'media/s_1200'
// @import 'media/s_992'
// @import 'media/s_768'
// @import 'media/s_576'
