.catalog-box

    .h2
        margin-bottom: 68px

    .catalog-mobile-sort
        display: none
        justify-content: space-between
        padding: 30px 900px 50px
        margin: 0 -900px
        border-top: 2px solid $primary
        .cm-sort
            .mini-title
                padding-top: 14px
                display: flex
                align-items: center
                transition: color .2s
                font-weight: 400
                &:hover
                    color: $secondary
                .icon
                    margin-left: 4px
                    width: 14px
                    height: 15px
            .cs-list
                display: grid
                gap: 8px
                margin-top: 15px

    .catalog-grid
        align-items: start

    .sidebar
        grid-column: span 3
        padding-top: 22px
        border-top: 2px solid $primary
        font-size: 14px
        .sb-element
            margin-bottom: 17px

        .sb-title
            display: flex
            justify-content: space-between
            align-items: center
            color: $secondary-alt
            transition: color .2s
            &:hover
                color: $secondary
            .icon
                width: 14px
                height: 15px
            .btn
                display: none
        .sb-list
            margin: 13px 10px 0
            color: $body-color-alt
            &:not(:last-child)
                margin-bottom: 16px
            .sb-parent-item
                font-weight: 700
                font-size: 15px
            .sb-sub-list
                display: grid
                gap: 7px
                margin-top: 6px
                margin-left: 13px

        .sb-item
            display: flex
            align-items: center
            letter-spacing: 0.05em
            &.active
                font-weight: 700
            input:checked ~ span
                font-weight: 700
        label.sb-item
            cursor: pointer

        .sb-sort
            .sb-list
                display: grid
                gap: 5px
                padding-bottom: 5px
        .show-more
            margin-top: 9px
            margin-bottom: 4px
            font-weight: 700
            &:hover
                color: $primary-alt

        .sb-color
            padding-top: 4px
            .sb-list
                display: grid
                gap: 5px
                padding-top: 7px
            .sb-item
                .sbi-color
                    flex-shrink: 0
                    margin-right: 10px
                    width: 10px
                    height: 10px
                    border-radius: 50%

        .sb-price
            .sb-list
                padding-top: 15px
                padding-bottom: 37px

        .sb-size
            .sb-list
                display: grid
                grid-template-columns: min-content min-content
                gap: 5px 20px
                padding-top: 6px
            .sb-item
                display: flex
                align-items: center
                span
                    min-width: 22px

        .btns-row
            margin-top: 15px
            .btn-gray
                display: none

    .catalog-list
        grid-column: span 9
        row-gap: 76px

    .catalog-item
        display: flex
        flex-direction: column
        align-items: center
        min-width: 1px
        &:hover
            color: $primary_alt
            .sw-arrow
                opacity: 1
                pointer-events: auto
            .ci-name
                font-weight: 700
        .catalog-images-wrapper
            position: relative
            display: flex
            align-items: center
            margin-bottom: 31px
            width: 100%
            min-width: 1px
        .swiper
            min-width: 1px
            width: 100%
            &:not(&-initialized)
                padding-bottom: 133.08%
                background: $primary
                .swiper-wrapper
                    display: none
        .sw-arrow
            position: absolute
            border: none
            width: 50px
            height: 50px
            background: #FFF2F0
            color: $secondary-alt
            opacity: 0
            pointer-events: none
            &:hover
                color: $primary-alt
            svg
                margin-left: -12px
                height: 13px
                width: 13px
        .sw-prev
            left: -25px
        .sw-next
            right: -25px

        .ci-name
            margin: auto
            line-height: 125%
            text-align: center
            max-width: 220px
            transition: none
        .ci-price
            margin-top: 10px
            font-weight: 700
            color: $secondary-alt

    .catalog-bottom-row
        display: flex
        flex-direction: column
        align-items: center
        .btn
            max-width: 263px
