.catalog-box

    .h2
        margin-bottom: 68px

    .grid-grid
        align-items: start

    .sidebar
        grid-column: span 3
        padding-top: 22px
        border-top: 2px solid $primary
        font-size: 14px
        .sb-element
            margin-bottom: 17px
            &.active
                .sb-title
                    .icon
                        transform: rotate(180deg)

        .sb-title
            display: flex
            justify-content: space-between
            align-items: center
            color: $secondary-alt
            cursor: pointer
            transition: color .2s
            &:hover
                color: $secondary
            .icon
                flex-shrink: 0
                width: 14px
                height: 15px
                transition: transform .2s
        .sb-list
            margin: 13px 10px 0
            color: $body-color-alt
            &:not(:last-child)
                margin-bottom: 16px
            .sb-parent-item
                font-weight: 700
                font-size: 15px
            .sb-sub-list
                display: grid
                gap: 7px
                margin-top: 6px
                margin-left: 13px

        .sb-item
            display: flex
            align-items: center
            letter-spacing: 0.05em
            &.active
                font-weight: 700
            input:checked ~ span
                font-weight: 700
        label.sb-item
            cursor: pointer

        .sb-sort
            .sb-list
                display: grid
                gap: 5px
        .show-more
            margin-top: 9px
            margin-bottom: 4px
            font-weight: 700
            &:hover
                color: $primary-alt

        .sb-color
            padding-top: 4px
            .sb-list
                display: grid
                gap: 5px
                padding-top: 7px
            .sb-item
                .sbi-color
                    flex-shrink: 0
                    margin-right: 10px
                    width: 10px
                    height: 10px
                    border-radius: 50%

        .sb-price
            .sb-list
                padding-top: 15px
                padding-bottom: 37px

        .sb-size
            .sb-list
                display: grid
                grid-template-columns: min-content min-content
                gap: 5px 20px
                padding-top: 6px
            .sb-item
                display: flex
                align-items: center
                span
                    min-width: 22px

        .btn
            margin-top: 15px
        // grid-column: span 3

    .catalog-list
        grid-column: span 9


