.home-first-box
    padding: 245px 0 166px
    background: #343226 url('../images/main/home-bg.jpg') no-repeat 50% 50%
    background-size: cover
    background-attachment: fixed
    color: #fff

    .middle-row
        margin: 0 auto
        text-align: center
        max-width: 960px
    .h1
        text-transform: uppercase
        margin-bottom: 34px
        span
            margin-right: -0.25em
