.home-first-box
    padding: 245px 0 166px
    background: #343226 url('../images/main/home-bg.jpg') no-repeat 50% 50%
    background-size: cover
    background-attachment: fixed
    color: #fff

    .middle-row
        margin: 0 auto
        text-align: center
        max-width: 960px
    .h1
        text-transform: uppercase
        margin-bottom: 34px
        span
            margin-right: -0.25em


.home-novelties-box
    padding: 140px 0 0
    .container
        display: grid
        grid-template-columns: repeat(12, 1fr)
    .n-title
        margin-top: 2px
        grid-column: span 5
    .h2
        display: flex
        align-items: flex-end
        :first-letter
            margin-left: -.1em

    .ht-ints
        display: flex
        align-items: center
        height: 1.36em
        width: 67px
        flex-shrink: 0
        text-align: center
        color: $secondary_2
        span
            font: 400 12px $font-family, sans-serif


.home-about-box
    padding: 140px 0 0
