
/* ========= General ========= */
::selection
    background: $primary
    color: #fff

body
    font: 400 15px/1.3 $font-family, sans-serif
    color: $body-color
    background: #FFF2F0


.wrapper
    position: relative
    margin: 0 auto
    padding-top: 213px
    max-width: 100vw
    width: 100%
    overflow: hidden


a, .a
    transition: color .2s, opacity .2s
    text-decoration: none
    cursor: pointer
    color: currentColor
    &:hover
        color: $primary

.color, .primary
    color: $primary
.secondary
    color: $secondary
.primary-alt
    color: $primary-alt
.secondary-alt
    color: $secondary-alt
.gray
    color: $body-color-alt


.text-box
    line-height: 1.35
    p, .p
        &:not(:last-child)
            margin-bottom: .9em

.h1,.h2,.h3,.h4,.h5,.h6, .h
    font-family: $font-family2, serif
    font-weight: 400
    line-height: 1.125
    text-transform: uppercase
    word-spacing: -0.26em
.h1
    font-size: 96px
    line-height: 1.104166
.h2
    font-size: 60px
    line-height: 1.1
.h3
    font-size: 24px
.h4
    font-size: 22px
.h5
    font-size: 20px
.h6
    font-size: 18px

.mini-title
    font-size: 15px
    font-weight: 700
    text-transform: uppercase
    letter-spacing: 0.1em

.handwritten
    font-family: $font-family3, serif
    font-size: 75px
    line-height: 1
    margin-bottom: -0.1em

p, .p
    line-height: 1.3
    &:not(:last-child)
        margin-bottom: 1.45em


// .custom-scroll
//     padding-right: 34px
//     &::-webkit-scrollbar-thumb
//         background: #BA8ACA
//         background-clip: content-box
//         border-radius: 10px
//     &::-webkit-scrollbar-track
//         background: #D9D9D9
//         border: 4px solid #fff
//         border-radius: 10px
//     &::-webkit-scrollbar
//         width: 15px
//         height: 15px
//         -webkit-appearance: none
//     &::-webkit-scrollbar-corner
//         background: tranparent


.pagination
    display: flex
    margin-top: 46px
    margin-bottom: 6px
    li
        margin: 0 6px
        letter-spacing: 0.05em
        font-size: 14px
        color: $body-color-alt
        &.disabled
            display: none
        &.prev
            svg
                transform: scaleX(-1)
        &.active
            margin: 0 7px
            color: $secondary-alt
            font-weight: 700
        svg
            margin: 0 2px
            width: 11px
            height: 9px

.breadcrumbs
    margin-bottom: 41px
    font-size: 12px
    color: $body-color-alt
    .delimeter
        display: inline-block
        margin: 0 3px

.prod-image
    position: relative
    display: block
    padding-bottom: 133.08%
    width: 100%
    background: $primary
    overflow: hidden
    &:not(.wa-hover):hover
        img
            transform: scale(1.05)
    img
        @extend .cover-image
        transition: transform .2s, opacity .2s



.text-el
    letter-spacing: 0.05em
    h1,h2,h3,h4,h5,h6
        margin: 2em 0 1.75em
        font-weight: 700
        letter-spacing: 0

    h2,h3, h4
        color: $secondary-alt

    h2
        font-size: 20px
    h3
        font-size: 16px
    h4
        font-size: 13px

    ul, ol
        margin: 10px 0 20px
    li
        margin: 8px 0
    ul li
        list-style: disc inside
    ol li
        list-style: decimal inside
    p
        margin: 0 0 1.2em


    & > *:first-child
        margin-top: 0
    & > *:last-child
        margin-bottom: 0

body:not(.preload)
    .preload-box
        visibility: hidden
        opacity: 0
        transition: all .4s
