
// .form-title
//     margin-bottom: 15px
//     font-size: 11px
//     font-weight: 600
//     letter-spacing: 0.06em
//     text-transform: uppercase

.form-input
    position: relative
    display: flex
    align-items: center
    width: 100%

    input, textarea, select
        display: block
        padding: 0
        height: 34px
        width: 100%

        color: $body-color-alt
        font-weight: 700
        font-size: 12px
        line-height: 1
        letter-spacing: 0.05em

        border-bottom: 1px solid currentColor
        &::placeholder
            color: $body-color-alt
        &:focus,
        &.valid
            color: $body-color
        &.invalid
            color: #E37A74
            // &.valid::-webkit-calendar-picker-indicator
            //     opacity: 1
//         // &:not(:placeholder-shown)
//         //     border-bottom: 1px solid #fff

//     textarea
//         padding-top: 12px
//         padding-bottom: 12px
//         min-height: 153px

//     select
//         appearance: none




//     select:not(:focus),
//     input:not(:focus)
//         & ~ .icon:not(.valid-icon)
//             transform: scale(-1)
//         & ~ .options-list
//             visibility: hidden
//             opacity: 0
//     .options-list
//         position: absolute
//         top: 100%
//         left: 20px
//         right: 20px
//         max-height: 300px
//         min-height: 44px
//         padding-right: 5px
//         background: #fff
//         overflow: hidden
//         overflow-y: auto
//         border-radius: 0 0 6px 6px
//         z-index: 10
//         transition: visibility .2s, opacity .2s
//         border: 1px solid $secondary
//     .options-value
//         display: flex
//         align-items: center
//         // justify-content: center
//         padding: 5px 20px
//         font-size: 14px
//         font-weight: 500
//         border-top: 1px solid #F1F1F1
//         transition: background .2s
//         cursor: pointer
//         &:hover
//             background: #F5F5F5
//         &.active
//             display: none
//         .m-val
//             font-size: 0
//             opacity: 0
//     .icon
//         position: absolute
//         right: 30px
//     .valid-icon
//         display: none
//         right: 17px


// .form-select
//     input
//         cursor: pointer

// .form-checkbox
    display: flex
    align-self: flex-start
    align-items: center
    cursor: pointer
    span
        max-width: 520px
        line-height: 1


input[type=checkbox],
input[type=radio]
    appearance: none
    flex-shrink: 0
    width: 20px
    height: 20px
    margin-right: 18px
    background: no-repeat 50%
    border: 1px solid $primary
    outline: 0
    pointer-events: none
    transition-property: background border
    transition-duration: .2s
    &:checked
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='13' height='10' fill='none' viewBox='0 0 13 10'%3e%3cpath fill='%23858585' d='M4.125 9.428 0 5.303l1.178-1.178L4.126 7.07h-.001L11.195 0l1.18 1.178L5.302 8.25 4.126 9.428h-.001Z'/%3e%3c/svg%3e")
        border-color: $body-color-alt
    &:hover
        border-color: $body-color-alt

.form-radio
    color: $body-color-alt
    input
        display: none
        &:checked ~ .fr-item
            color: $body-color
            border-color: $secondary-alt
    .fr-item
        display: flex
        align-items: center
        justify-content: center
        width: 2.222em
        height: 2.222em
        letter-spacing: 0.05em
        font-size: 18px
        border: 1px solid #fff
        border-radius: 50%
        cursor: pointer
        transition: border .2s, color .2s
        &:hover
            border-color: $secondary




form
    &.loading,
    &.done
        .form-input,
        .form-file,
        .btn,
        input,
        select,
        textarea,
        button
            pointer-events: none
        .btn
            color: transparent !important
            .icon
                display: none

    &.loading
        pointer-events: none
        animation: blink .5s infinite alternate
        .btn
            filter: grayscale(100%)
            &::after
                content: ''
                position: absolute
                width: 30px
                height: 30px
                border-radius: 50%
                border: 3px solid #fff
                border-left-color: transparent
                border-right-color: transparent
                animation: round 1s linear infinite

    &.done
        .btn
            &::after
                content: ''
                position: absolute
                width: 20px
                height: 20px
                background: url("data:image/svg+xml,%3Csvg width='14' height='10' viewBox='0 0 14 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1454 0L5.01224 6.32097L1.99556 3.24593L0 5.03209L4.8736 10L14 1.92022L12.1454 0Z' fill='white'/%3E%3C/svg%3E") no-repeat 50% 50%
                background-size: contain
                opacity: .7
