
.sw-arrow
    position: relative
    display: flex
    align-items: center
    justify-content: center
    flex-shrink: 0
    height: 61px
    width: 61px
    cursor: pointer
    color: $secondary
    border: 1.5px solid #D6D6D6
    border-top-width: 2.5px
    border-bottom-width: 2.5px
    border-radius: 50%
    transition: border .2s
    z-index: 5
    img
        visibility: hidden
    &:hover
        border-color: $primary
.sw-prev
    transform: scaleX(-1)

.swiper-button-disabled
    pointer-events: none
    opacity: .3
